<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>jscore</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>UserModuleSourceFilesToOpen</key>
	<array>
		<string>UserModules/JavaScriptCoreWrapper.playgroundmodule/Sources/JavaScriptCore.swift</string>
		<string>UserModules/Views.playgroundmodule/Sources/ConsoleView.swift</string>
		<string>UserModules/Views.playgroundmodule/Sources/ConsoleMessageCell.swift</string>
		<string>UserModules/Views.playgroundmodule/Sources/CommandLine.swift</string>
		<string>UserModules/ViewModels.playgroundmodule/Sources/ConsoleViewModel.swift</string>
		<string>UserModules/Models.playgroundmodule/Sources/ConsoleMessage.swift</string>
	</array>
</dict>
</plist>
